.input-container {
    position: absolute;
    z-index: 1;
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;    
}

.input-container input {
    font-size: 1.5rem;
    padding: .5rem;
    border-radius: .5rem;
    border: none;
    width: 20rem;        
}